<p id="notice"><%= notice %></p>

<p>
  <strong>Material url:</strong>
  <%= @class_material.material_url %>
</p>

<%= link_to 'Edit', edit_class_material_path(@class_material) %> |
<%= link_to 'Back', class_materials_path %>
