<div class="card mt-3 mb-3 ml-2 mr-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= note.title %></h5>
    <% noteuser = User.find(note.user_id) %>
    <h6 class="card-subtitle mb-2 text-muted"><%= "submitted by: #{noteuser.email} on #{note.created_at}"  %></h6>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text"><%= note.content %></p>
    <a class="card-link"><%= link_to  %></a>
    <!-- Aqui vai o link para download do arquivo --> <a href="#" class="card-link"></a>  -->
    <% if note.user_id == current_user.id %>
      <a href="#" class="card-link"></a>
    <% end %>
  </div>
</div>
