<div style="display: flex; justify-content: flex-end;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a><%= link_to 'Courses', courses_path %></a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @course.code %></li>
    </ol>
  </nav>
</div>
