<nav class="navbar navbar-light bg-light flex-column align-items p-3">
  <a class="navbar-brand" ><strong>Lectures:</strong></a>
  <% @lectures.each do |lecture| %>
    <a class="navbar-brand" ><%= "#{lecture.name} - #{lecture.lecture_date}" %></a>
    <div class="btn-group mb-3" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary"><%= link_to "add lecture notes",  new_course_lecture_note_path(course_id: @course.id, lecture_id: lecture.id) %></button>
      <button type="button" class="btn btn-outline-primary"><%= link_to "add lecture reading",  new_course_lecture_reading_path(course_id: @course.id, lecture_id: lecture.id) %></button>
    </div>
      <% if lecture.notes.first.nil? && lecture.readings.first.nil? %>
        <p>No notes or readings were submitted for this lecture.</p>
      <% else %>
        <div style="display: flex; justify-content: space-around;">
        <% unless lecture.notes.first.nil? %>
          <% lecture.notes.each do |note| %>
            <div>
              <%= render 'shared/noteCard', note: note, lecture: lecture, course: @course %>
            </div>
          <% end %>
        <% end %>
        </div>
      <% end %>
  <% end %>
</nav>
