<h1>Courses:</h1>

<ul class="nav justify-content-lefts mt-2">
  <button type="button" class="btn btn-light" style="display: flex; justify-content: left;"><%= link_to 'Add New', new_course_path %></button>
</ul>
<div class="container">

  <% if @courses.nil? %>
    <p>There are no registered classes yet.</p>

  <% else %>
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
      <% @courses.each do |course| %>
        <%= render 'shared/courseCard', course: course %>
      <% end %>
    </div>
  <% end %>
</div>

